<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Flamenco:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="navbar navbar-inverse navbar", id="nav-bar-color">
	  <div class="container">
		 <div class="navbar-header">
		   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		   <a class="navbar-brand" href="/">Essam Joubori</a>
		 </div>
		<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav", id="ul_font">
			<li class="name-font">
			<a href="/">ESSAM JOUBORI</a>
			</li>
			<li class="link-font">
			<a href="/portfolio">Portfolio</a>
			</li>
			<li class="link-font">
			<a href="/about">About</a>
			</li>
			<li class="link-font">
			<a href="/contact">Contact</a>
			</li>
		</ul>
	</div>
 </div>
</div>
<div class="container">
      <%= yield %>
 </div>
</body>
</html>
